.banner__titulo{
    color: #fdfdfd; /*Cor branco*/
    font-family: Pacifico,cursive; /*Fonte importada da api do google*/
    
    position: absolute; /*Posição absoluta na tela*/
    left: 50%; /*alinhamento a esquerda - 50% da tela*/
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75); /* deslocamento-x | deslocamento-y | raio-de-desfoque | cor */
    top: 50%; /*Para realizar alinhamento vertical e horizontal*/
    text-align: center; /*Centralizando texto*/
    transform: translate(-50%,-50%); /*Transladar o texto*/
    width: 100%; /*Tamanho 100% na tela*/
}
@media screen and (min-width:0) {
    .banner__titulo{
        font-size: 3rem;;
    }
}
@media screen and (min-width:768px) {
    .banner__titulo{
        font-size: 5.0625rem; 
    }
}